@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1rem;
  --normal-font-size: 0.75rem;
  --small-font-size: .8rem;
  --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
  --transition: all 0.5s ease;
  --c-dark: #212529;
  --c-brand: #f8b500;
  --c-brand-light: #fbf052;
  --c-brand-green-dark: #048b11;
  --c-brand-green: 0, 255, 127;
  --c-body: #727272;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins";
}

.navigation {
  height: 70px;
  background: #fff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
@media (max-width: 43.74875em) {
  .brand {
    font-size: var(--small-font-size);
  }
}
.brand a,
.brand a:visited {
  color: #0c0c0c;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: #fff;
  color: #0c0c0c;
  text-decoration: none;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #f8b500;
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #f8b500;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.footer {
  padding-top: 120px;
}
.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(36, 34, 34, 0.1);
}
.footer-top h3,
.footer-top h5 {
  color: white;
  margin-bottom: 0;
}
.footer-top .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}
.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-content ul {
  list-style: none;
  padding: 0;
}
.footer-content ul li {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 8px;
}
.footer-content ul li a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.footer-content ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: "Poppins";
}

.sidebar-toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: -1000;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
}
.sidebar-toggle-btn:hover {
  border-color: white;
}
.sidebar-toggle-btn span {
  font-size: 10px;
  color: #fff;
}

.sidebar__container {
  position: absolute;
  width: 25%;
  height: 100%;
  left: -20%;
  top: 70px;
  background: white;
  transition: left 0.4s ease;
  z-index: 999;
  transition: left 0.4s ease, width 0.4s ease;
}

.sidebar__container:hover {
  width: 25%;
}
@media (max-width: 56.24875em) {
  .sidebar__container:hover {
    width: 45%; /* For devices smaller than a laptop */
  }
}

.sidebar__container.expanded {
  width: 25%;
}
@media (max-width: 56.24875em) {
  .sidebar__container.expanded {
    width: 45%; /* For devices smaller than a laptop */
  }
}

.sidebar--show {
  left: 0;
}

.sidebar__header {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: var(--c-brand);
  letter-spacing: 1px;
}

.sidebar__menu {
  background: var(--c-brand);
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__menu-item {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.767);
  border-bottom: 1px solid rgba(255, 255, 255, 0.767);
}
.sidebar__menu-item--active a {
  color: cyan;
  background-color: rgba(0, 0, 0, 0.3);
  border-left-color: cyan;
}
.sidebar__menu-item .sidebar__menu-item__link {
  position: relative;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  text-align: left;
  width: 100%;
  border-left: 3px solid transparent;
}
@media (max-width: 56.24875em) {
  .sidebar__menu-item .sidebar__menu-item__link {
    font-size: 15px; /* For devices smaller than a laptop */
  }
}
.sidebar__menu-item .sidebar__menu-item__link:hover {
  background: rgba(0, 0, 0, 0.3);
}
.sidebar__menu-item .sidebar__menu-item__link .sidebar__menu-item__link__caret {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
.sidebar__menu-item .sidebar__menu-item__link .sidebar__menu-item__link__caret--rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.menu {
  display: none;
  color: white;
  font-size: 18px;
  background-color: var(--c-brand);
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 250px;
  z-index: 10000;
}
@media (max-width: 56.24875em) {
  .menu {
    font-size: 15px;
  }
}

#menuToggle:checked + .menu {
  display: block;
}

.menu > li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu > li:hover {
  background-color: var(--c-brand);
}

.submenu {
  display: none;
  padding-left: 20px;
  max-height: 160px;
  overflow-y: auto;
}
.submenu::-webkit-scrollbar {
  width: 8px;
}
.submenu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.submenu::-webkit-scrollbar-thumb {
  background: var(--c-brand-light);
  border-radius: 4px;
}
.submenu::-webkit-scrollbar-thumb:hover {
  background: var(--c-brand);
}
.submenu > li {
  padding: 8px;
  transition: background-color 0.3s ease;
}
.submenu > li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu > li:hover .submenu {
  display: block;
}

.active-filter {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
}

.controls {
  z-index: 100000;
  position: absolute;
  top: 450px;
  display: none;
  margin-top: 10px;
}

.controls button {
  font-size: 10px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--c-brand);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: var(--c-brand-light);
}

#menuToggle {
  position: absolute;
  top: 200px;
  margin-bottom: 20px;
  z-index: 10001;
}

#menuToggle:checked + .controls {
  display: block;
}

#menuToggle:hover,
#menuToggle:active,
#menuToggle:focus {
  background-color: var(--c-brand);
  color: white;
  outline: none;
}

.menu-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(100vw - 25%);
  z-index: 10001;
  background: transparent;
}

.signin {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.signin__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .signin__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .signin__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .signin__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .signin__title {
    margin-bottom: 2rem;
  }
}
.signin__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.signin__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.signin__inputs, .signin__box {
  display: grid;
}
.signin__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.signin__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.signin__input, .signin__button {
  border: none;
  outline: none;
}
.signin__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.signin__input::-moz-placeholder {
  color: var(--white-color);
}
.signin__input::placeholder {
  color: var(--white-color);
}
.signin__box i {
  font-size: 1.25rem;
}
.signin__check, .signin__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.signin__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.signin__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.signin__forgot {
  color: var(--white-color);
}
.signin__forgot:hover {
  text-decoration: underline;
}
.signin__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.signin__button:hover {
  background-color: #f8b500;
}
.signin__register {
  text-align: center;
}
.signin__register a {
  color: var(--white-color);
  font-weight: 500;
}
.signin__register a:hover {
  text-decoration: underline;
}

.signup {
  position: relative;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.signup__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .signup__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .signup__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .signup__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .signup__title {
    margin-bottom: 2rem;
  }
}
.signup__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.signup__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.signup__inputs, .signup__box {
  display: grid;
}
.signup__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.signup__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.signup__input, .signup__button {
  border: none;
  outline: none;
}
.signup__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.signup__input::-moz-placeholder {
  color: var(--white-color);
}
.signup__input::placeholder {
  color: var(--white-color);
}
.signup__box i {
  font-size: 1.25rem;
}
.signup__check, .signup__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.signup__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.signup__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.signup__forgot {
  color: var(--white-color);
}
.signup__forgot:hover {
  text-decoration: underline;
}
.signup__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.signup__button:hover {
  background-color: #f8b500;
}
.signup__register {
  text-align: center;
}
.signup__register a {
  color: var(--white-color);
  font-weight: 500;
}
.signup__register a:hover {
  text-decoration: underline;
}

.forgot-password {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.forgot-password__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .forgot-password__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .forgot-password__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .forgot-password__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .forgot-password__title {
    margin-bottom: 2rem;
  }
}
.forgot-password__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.forgot-password__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.forgot-password__inputs, .forgot-password__box {
  display: grid;
}
.forgot-password__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.forgot-password__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.forgot-password__input, .forgot-password__button {
  border: none;
  outline: none;
}
.forgot-password__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.forgot-password__input::-moz-placeholder {
  color: var(--white-color);
}
.forgot-password__input::placeholder {
  color: var(--white-color);
}
.forgot-password__box i {
  font-size: 1.25rem;
}
.forgot-password__check, .forgot-password__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot-password__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.forgot-password__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.forgot-password__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.forgot-password__forgot {
  color: var(--white-color);
}
.forgot-password__forgot:hover {
  text-decoration: underline;
}
.forgot-password__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.forgot-password__button:hover {
  background-color: #f8b500;
}
.forgot-password__register {
  text-align: center;
}
.forgot-password__register a {
  color: var(--white-color);
  font-weight: 500;
}
.forgot-password__register a:hover {
  text-decoration: underline;
}

.reset-password {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.reset-password__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .reset-password__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .reset-password__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .reset-password__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .reset-password__title {
    margin-bottom: 2rem;
  }
}
.reset-password__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.reset-password__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.reset-password__inputs, .reset-password__box {
  display: grid;
}
.reset-password__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.reset-password__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.reset-password__input, .reset-password__button {
  border: none;
  outline: none;
}
.reset-password__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.reset-password__input::-moz-placeholder {
  color: var(--white-color);
}
.reset-password__input::placeholder {
  color: var(--white-color);
}
.reset-password__box i {
  font-size: 1.25rem;
}
.reset-password__check, .reset-password__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset-password__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.reset-password__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.reset-password__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.reset-password__forgot {
  color: var(--white-color);
}
.reset-password__forgot:hover {
  text-decoration: underline;
}
.reset-password__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.reset-password__button:hover {
  background-color: #f8b500;
}

.reset-password-retirement-home {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.reset-password-retirement-home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .reset-password-retirement-home__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .reset-password-retirement-home__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .reset-password-retirement-home__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .reset-password-retirement-home__title {
    margin-bottom: 2rem;
  }
}
.reset-password-retirement-home__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.reset-password-retirement-home__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.reset-password-retirement-home__inputs, .reset-password-retirement-home__box {
  display: grid;
}
.reset-password-retirement-home__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.reset-password-retirement-home__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.reset-password-retirement-home__input, .reset-password-retirement-home__button {
  border: none;
  outline: none;
}
.reset-password-retirement-home__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.reset-password-retirement-home__input::-moz-placeholder {
  color: var(--white-color);
}
.reset-password-retirement-home__input::placeholder {
  color: var(--white-color);
}
.reset-password-retirement-home__box i {
  font-size: 1.25rem;
}
.reset-password-retirement-home__check, .reset-password-retirement-home__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reset-password-retirement-home__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.reset-password-retirement-home__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.reset-password-retirement-home__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.reset-password-retirement-home__forgot {
  color: var(--white-color);
}
.reset-password-retirement-home__forgot:hover {
  text-decoration: underline;
}
.reset-password-retirement-home__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.reset-password-retirement-home__button:hover {
  background-color: #f8b500;
}

.retirement-home-signup {
  position: relative;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.retirement-home-signup__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .retirement-home-signup__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .retirement-home-signup__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .retirement-home-signup__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .retirement-home-signup__title {
    margin-bottom: 2rem;
  }
}
.retirement-home-signup__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.retirement-home-signup__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.retirement-home-signup__inputs, .retirement-home-signup__box {
  display: grid;
}
.retirement-home-signup__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.retirement-home-signup__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.retirement-home-signup__input, .retirement-home-signup__button {
  border: none;
  outline: none;
}
.retirement-home-signup__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.retirement-home-signup__input::-moz-placeholder {
  color: var(--white-color);
}
.retirement-home-signup__input::placeholder {
  color: var(--white-color);
}
.retirement-home-signup__box i {
  font-size: 1.25rem;
}
.retirement-home-signup__check, .retirement-home-signup__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.retirement-home-signup__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.retirement-home-signup__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.retirement-home-signup__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.retirement-home-signup__forgot {
  color: var(--white-color);
}
.retirement-home-signup__forgot:hover {
  text-decoration: underline;
}
.retirement-home-signup__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.retirement-home-signup__button:hover {
  background-color: #f8b500;
}
.retirement-home-signup__register {
  text-align: center;
}
.retirement-home-signup__register a {
  color: var(--white-color);
  font-weight: 500;
}
.retirement-home-signup__register a:hover {
  text-decoration: underline;
}

.verify-retirement-home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.verify-retirement-home__card {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.verify-retirement-home__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.verify-retirement-home__info {
  text-align: left;
  margin-top: 10px;
}
.verify-retirement-home .info-item strong {
  display: inline-block;
  width: 180px;
}
.verify-retirement-home__button {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  align-self: stretch;
  background-color: var(--c-brand-green-dark);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.verify-retirement-home__button:hover {
  background-color: #4cd137;
  color: black;
}

.retirement-home-signin {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.retirement-home-signin__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .retirement-home-signin__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .retirement-home-signin__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .retirement-home-signin__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .retirement-home-signin__title {
    margin-bottom: 2rem;
  }
}
.retirement-home-signin__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.retirement-home-signin__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.retirement-home-signin__inputs, .retirement-home-signin__box {
  display: grid;
}
.retirement-home-signin__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.retirement-home-signin__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.retirement-home-signin__input, .retirement-home-signin__button {
  border: none;
  outline: none;
}
.retirement-home-signin__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.retirement-home-signin__input::-moz-placeholder {
  color: var(--white-color);
}
.retirement-home-signin__input::placeholder {
  color: var(--white-color);
}
.retirement-home-signin__box i {
  font-size: 1.25rem;
}
.retirement-home-signin__check, .retirement-home-signin__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.retirement-home-signin__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.retirement-home-signin__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.retirement-home-signin__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.retirement-home-signin__forgot {
  color: var(--white-color);
}
.retirement-home-signin__forgot:hover {
  text-decoration: underline;
}
.retirement-home-signin__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.retirement-home-signin__button:hover {
  background-color: #f8b500;
}
.retirement-home-signin__register {
  text-align: center;
}
.retirement-home-signin__register a {
  color: var(--white-color);
  font-weight: 500;
}
.retirement-home-signin__register a:hover {
  text-decoration: underline;
}

.forgot-password-retirement-home {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.forgot-password-retirement-home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 56.24875em) {
  .forgot-password-retirement-home__form {
    width: 300px;
    padding-inline: 1rem;
  }
  .forgot-password-retirement-home__title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 43.75em) {
  .forgot-password-retirement-home__form {
    width: 500px;
    padding-inline: 2.5rem;
  }
  .forgot-password-retirement-home__title {
    margin-bottom: 2rem;
  }
}
.forgot-password-retirement-home__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.forgot-password-retirement-home__title {
  text-align: center;
  font-size: var(--h1-font-size);
}
.forgot-password-retirement-home__inputs, .forgot-password-retirement-home__box {
  display: grid;
}
.forgot-password-retirement-home__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.forgot-password-retirement-home__box {
  grid-template-columns: 1fr max-content;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.forgot-password-retirement-home__input, .forgot-password-retirement-home__button {
  border: none;
  outline: none;
}
.forgot-password-retirement-home__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}
.forgot-password-retirement-home__input::-moz-placeholder {
  color: var(--white-color);
}
.forgot-password-retirement-home__input::placeholder {
  color: var(--white-color);
}
.forgot-password-retirement-home__box i {
  font-size: 1.25rem;
}
.forgot-password-retirement-home__check, .forgot-password-retirement-home__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot-password-retirement-home__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}
.forgot-password-retirement-home__check-box {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.forgot-password-retirement-home__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.forgot-password-retirement-home__forgot {
  color: var(--white-color);
}
.forgot-password-retirement-home__forgot:hover {
  text-decoration: underline;
}
.forgot-password-retirement-home__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}
.forgot-password-retirement-home__button:hover {
  background-color: #f8b500;
}
.forgot-password-retirement-home__register {
  text-align: center;
}
.forgot-password-retirement-home__register a {
  color: var(--white-color);
  font-weight: 500;
}
.forgot-password-retirement-home__register a:hover {
  text-decoration: underline;
}

.btn__text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}
.btn--brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
}
.btn--brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: white;
}

#hero__text {
  color: var(--c-dark);
  background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438));
  background-position: center;
  background-size: cover;
}

.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  /* max-width: 500px; */
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* SERVICE */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}
.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}
.service:hover h5,
.service:hover p {
  color: rgb(26, 25, 25);
}
.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(26, 25, 25);
}

.service__iconbox.iconbox i {
  display: block;
  font-size: 2rem;
}

.service__title,
.service__description {
  color: rgb(26, 25, 25);
}

#map {
  height: 100vh;
  width: 100%;
}

.slideshow-container {
  max-width: 300px;
  position: relative;
  margin-top: 20px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgb(0, 0, 0);
}

img {
  width: auto;
  height: auto;
}

.highlight1 {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg, rgba(214, 236, 66, 0.2), rgba(203, 210, 14, 0.7) 95%, rgba(109, 143, 14, 0.1));
}

.highlight2 {
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg, rgba(0, 255, 20, 0.2), rgba(0, 255, 20, 0.7) 95%, rgba(0, 255, 20, 0.1));
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container .btn {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 18px;
}

.container-fluid {
  margin-bottom: 2rem;
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: var(--c-brand) !important;
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.container {
  align-content: center;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}

.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.type_msg {
  background-color: rgba(253, 251, 251, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.attach_btn {
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  background-color: #c23616 !important;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  position: relative;
  max-width: 70%;
  word-wrap: break-word;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.action_menu ul li i {
  padding-right: 10px;
}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
#microphone.active {
  background-color: #4cd137 !important;
}

.blurred {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  transition: color 0.5s, text-shadow 0.5s;
}

.partners__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.partners__content__header {
  font-size: 45px;
  font-weight: 600;
}
.partners__content__text {
  font-size: 30px;
  font-weight: 500;
}
.partners__content__map {
  height: 100vh;
  width: 100%;
}/*# sourceMappingURL=main.css.map */