<!doctype html>
<html lang="en">

<head>  
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seniority</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../../main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js" defer></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <script src="../../assets/scripts/about.js" defer></script>
    <script src="../../assets/scripts/navbar.js" defer></script>
    <script src="../../assets/scripts/ai.js" defer></script>
    <script src="../../assets/scripts/speech.js" defer></script>

    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>
<body>
    <header>
        <section class="navigation">
           <div class="nav-container">
             <div class="brand">
               <a href="../info/about.html">🍀Seniority</a>
             </div>
             <nav>
               <div class="nav-mobile">
                 <a id="nav-toggle" href="#!"><span></span></a>
               </div>
               <ul class="nav-list">
                 <li><a href="#!">Home</a></li>
                 <li>
                   <a href="#!">Services</a>
                   <ul class="nav-dropdown">
                     <li><a href="#!">Web Design</a></li>
                     <li><a href="#!">Web Development</a></li>
                     <li><a href="#!">Graphic Design</a></li>
                   </ul>
                 </li>
                 <li><a href="../auth/signin.html">Login</a></li>
               </ul>
             </nav>
           </div>
         </section>
     </header>
     <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                    <div class="section-title">
                        <div class="line"></div>
                        <p style="font-size: var(--h1-font-size);">
                            Be preventive. Act now.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
              <h4>How does our AI work?</h4>
              <p style="font-size: var(--h1-font-size);">At 🍀SENIORITY, we utilise cutting-edge Natural Language Processing (NLP) and Machine Learning (ML) techniques to encourage cognitive decline prevention.</p>
              <p style="font-size: var(--h1-font-size);">1. Choose one category between history/sports/music. Random Wikipedia articles from that category will be assigned to you.</p>
              <p style="font-size: var(--h1-font-size);">2. Keep yourself focused and respond to all the questions as precise as you can. For example, given the text passage: "Christopher Columbus was born in 1451", for the question "When was Christopher Columbus born?" a precise answer would be considered "1451".</p>
             
                <div class="d-flex pt-4 mb-3">
                  <div class="row justify-content-between align-items-center">
                    <div data-aos="fade-down" data-aos-delay="150" class="col-lg-5">
                        <div>
                            <h5>Entertainment and care combined</h5>
                            <p>Our AI chatbot seamlessly combines entertainment and therapeutic monitoring 
                              for the elderly, providing personalized news updates, engaging questions, and empathetic communication to enhance cognitive health and emotional well-being.
                                We transformed our cognitive decline prevention system into a thrilling adventure, as we've gamified our system to empower elders with a rich selection of over <strong>250 Wikipedia articles</strong>. With just a few clicks, seniors can embark on a journey tailored to their interests, choosing from captivating categories like history, sports, and music.
                            </p>
                            <p>
                              We engage in a comprehensive evaluation of cognitive function, focusing on mental acuity and short-term memory retention. Our method involves assessing the similarity between the elder's responses, whether written or spoken, and the correct answers.
                              Simultaneously, we introduce distractors to the assessment process, designed to challenge and augment cognitive engagement. These elements serve to enhance the complexity of evaluation, providing a more robust understanding of cognitive capabilities.
                            </p>
                        </div>
                          <p><strong>DISCLAIMER: </strong><u>It is important to note that this assessment is provided solely for informational purposes and should not be considered a substitute for professional medical advice. Any serious decisions or conclusions regarding cognitive health should be made after consulting with a qualified healthcare professional and undergoing a comprehensive cognitive evaluation.</u></p>
                  
                    </div>
                    <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
                     
                      <div class="button-container d-flex justify-content-center align-items-center flex-column">
                        <a href="#" class="btn btn--brand btn-lg mb-4">History category</a>
                        <a href="#" class="btn btn--brand btn-lg mb-4">Sports category</a>
                        <a href="#" class="btn btn--brand btn-lg mb-4">Music category</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    </section>
    
    <section>
      <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">		
          <div id="chatbotContainer" class="col-md-8 col-xl-6 chat" style="display: none;">
            <div class="card">
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src="../../assets/images/Graident Ai Robot.jpg" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div id="categoryName" class="user_info">
                    <span>Your trusted AI Companion</span>
                    <p>Music category</p>
                  </div>
                </div>
              </div>
              <div id="messageFormeight" class="card-body msg_card_body">
              </div>
              <div class="card-footer">
                <form id="messageArea" class="input-group">
                  <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required style="height: 38px;"/>

                  <div class="input-group-append" style="height: 60px;"> 
                    <div class="row no-gutters">
                        <div class="col">
                            <button type="submit" id="send" class="input-group-text send_btn" style="height: 60px;">
                              <i class="fas fa-location-arrow" style="font-size: 100%;"></i>
                            </button> 
                        </div>
                        <div class="col">
                            <button type="button" id="microphone" class="input-group-text attach_btn" style="height: 60px;">
                                <i class="fas fa-microphone" style="font-size: 100%;"></i> 
                            </button>
                        </div>
                    </div>
                </div>
                  
                </div>
                
                </div>
                
              </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
 <!-- FOOTER  -->
 <footer class="footer bg-dark">
  <div class="footer-top">
      <div class="container">
          <div class="row gy-5">
              <div class="footer-top__item col-lg-3 col-sm-6">
                  <h3 class="footer-top__title mb-0 text-white">🍀SENIORITY</h3>
                  <div class="line"></div>
                  <p class="text-white">Your retirement, made simpler.</p>
              </div>
              <div class="footer-top__item col-lg-3 col-sm-6">
                  <h5 class="footer-top__title mb-0 text-white">SERVICES</h5>
                  <div class="line"></div>
                  <ul class="footer-top__list">
                      <li><a href="#" class="text-white">AI Companion</a></li>
                      <li><a href="#" class="text-white">Find a retirement home</a></li>
                  </ul>
              </div>
              <div class="footer-top__item col-lg-3 col-sm-6">
                  <h5 class="footer-top__title mb-0 text-white">ABOUT</h5>
                  <div class="line"></div>
                  <ul class="footer-top__list">
                      <li><a href="#" class="text-white">Blog</a></li>
                      <li><a href="#" class="text-white">Services</a></li>
                      <li><a href="#" class="text-white">Company</a></li>
                      <li><a href="#" class="text-white">Career</a></li>
                  </ul>
              </div>
              <div class="footer-top__item col-lg-3 col-sm-6">
                  <h5 class="footer-top__title mb-0 text-white">CONTACT</h5>
                  <div class="line"></div>
                  <ul class="footer-top__list">
                      <li class="text-white">Iasi, Romania</li>
                      <li class="text-white">+40756624999</li>
                      <li class="text-white">0607andreea.ro@gmail.com</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row g-4 justify-content-between">
              <div class="col-auto">
                  <p class="footer-bottom__text mb-0 text-white">© Copyright Seniority. All Rights Reserved</p>
              </div>
          </div>
      </div>
  </div>
</footer>
</body>
</html>