$footer-color: rgba(255, 255, 255, 0.7);
$footer-line-color: var(--c-brand);

// Footer
.footer {
  padding-top: 120px;

  &-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(36, 34, 34, 0.1);

    h3,
    h5 {
      color: white;
      margin-bottom: 0;
    }

    .line {
      width: 40px;
      height: 4px;
      background-color: $footer-line-color;
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }

  &-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-content {
    ul {
      list-style: none;
      padding: 0;

      li {
        color: $footer-color;
        margin-bottom: 8px;

        a {
          color: $footer-color;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}