<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <link rel="stylesheet" href="/../../main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="../../assets/scripts/navbar.js" defer></script>
   </head>
   <body>
      <header>
         <section class="navigation">
            <div class="nav-container">
              <div class="brand">
                <a href="#!">🍀Seniority</a>
              </div>
              <nav>
                <div class="nav-mobile">
                  <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                  <li><a href="#!">Home</a></li>
                  <li>
                    <a href="#!">Services</a>
                    <ul class="nav-dropdown">
                      <li><a href="#!">Web Design</a></li>
                      <li><a href="#!">Web Development</a></li>
                      <li><a href="#!">Graphic Design</a></li>
                    </ul>
                  </li>
                  <li><a href="#!">Contact</a></li>
                </ul>
              </nav>
            </div>
          </section>
      </header>
      <div class="reset-password">
         <img src="/../../assets/images/login-form.jpg" alt="image" class="reset-password__bg">

         <form method="POST" action = "" class="reset-password__form">
            <h1 class="reset-password__title">Reset your password</h1>

            <div class="reset-password__inputs">
               <div class="reset-password__box">
                  <input type="password" placeholder="Password" name = "password" required class="reset-password__input">
                  <i class="ri-mail-fill"></i>
               </div>

               <div class="reset-password__box">
                  <input type="password" placeholder="Confirm password" name = "confirm_password" required class="reset-password__input">
                  <i class="ri-lock-2-fill"></i>
               </div>
            </div>
            <button type="submit" class="reset-password__button">Reset</button>
         </form>
      </div>
   </body>
</html>