<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Seniority</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="../../assets/scripts/navbar.js" defer></script>
   </head>
   <body>
      <header>
         <section class="navigation">
            <div class="nav-container">
              <div class="brand">
                <a href="../info/about.html">🍀SENIORITY</a>
              </div>
              <nav>
                <div class="nav-mobile">
                  <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                  <% if (isAuthenticated) { %>
                    <% if (accountType === 'User') { %>
                      <li>
                        <a href="#!">My Senior Account</a>
                        <ul class="nav-dropdown">
                            <li><a href="#!">Explore</a></li>
                          <li><a href="#!" class="non-clickable">Profile Settings</a></li>
                          <li><a href="#!" onclick="logout()">Logout</a></li>
                        </ul>
                      </li>
                    <% } else if (accountType === 'RetirementHome') { %>
                      <li>
                        <a href="#!">My Partner Account</a>
                        <ul class="nav-dropdown">
                          <li><a href="#!" class="non-clickable">Welcome, <%= email %></a></li>
                          <li><a href="#!">Manage</a></li>
                          <li><a href="#!">Profile Details</a></li>
                          <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                      </li>
                    <% } %>
                  <% } else { %>
                    <li><a href="../auth/signin.html">Login</a></li>
                  <% } %>
                </ul>
              </nav>
            </div>
          </section>
      </header>
      <div class="signup">
         <img src="../../assets/images/login-form.jpg" alt="image" class="signup__bg">

         <form method = "POST" action="/auth/signup.html" class="signup__form">
            <h1 class="signup__title">Sign up</h1>

            <div class="signup__inputs">
               <div class="signup__box">
                  <input type="email"  name="email" placeholder="Email" required class="signup__input">
                  <i class="ri-mail-fill"></i>
               </div>

               <div class="signup__box">
                    <input  placeholder="Surname" name="surname" required class="signup__input">
                    <i class="ri-user-fill"></i>
               </div>
                <div class="signup__box">
                    <input  placeholder="Name" name  = "name" required class="signup__input">
                    <i class="ri-user-fill"></i>
                </div>
                <div class="signup__box">
                    <input  placeholder="Phone" name = "phone" required class="signup__input">
                    <i class="ri-phone-fill"></i>
                </div>
                <div class="signup__box">
                    <input type="date" placeholder="Birthdate" name = "birthdate" required class="signup__input">
                    <i class="ri-calendar-fill"></i>
                </div>
               <div class="signup__box">
                  <input type="password" placeholder="Password" name = "password" required class="signup__input">
                  <i class="ri-lock-2-fill"></i>
               </div>

               <div class="signup__box">
                <input type="password" placeholder="Confirm Password" name = "confirm_password" required class="signup__input">
                <i class="ri-lock-2-fill"></i>
             </div>
            </div>

            <div class="signup__check">
               <div class="signup__check-box">
                  <input type="checkbox" class="signup__check-input" id="user-check">
                  <label for="user-check" class="signup__check-label">Remember me</label>
               </div>

               <a href="forgot-password.html" class="signup__forgot">Forgot Password?</a>
            </div>
            <% if (errorMessage) { %>
               <div class="alert alert-danger">
                 <%= errorMessage %>
               </div>
             <% } %>
            <button type="submit" class="signup__button">Sign up</button>

            <div class="signup__register">
               Already have an account? <a href="signin.html">Sign in</a> <br>
               ...or maybe register as a business partner instead! <a href="../auth/retirement-home-signup.html">Take me there</a>
            </div>
         </form>
      </div>
   </body>
    <!-- FOOTER  -->
    <footer class="footer bg-dark">
      <div class="footer-top">
          <div class="container">
              <div class="row gy-5">
                  <div class="footer-top__item col-lg-3 col-sm-6">
                      <h3 class="footer-top__title mb-0 text-white">🍀SENIORITY</h3>
                      <div class="line"></div>
                      <p class="text-white">Your retirement, made simpler.</p>
                  </div>
                  <div class="footer-top__item col-lg-3 col-sm-6">
                      <h5 class="footer-top__title mb-0 text-white">SERVICES</h5>
                      <div class="line"></div>
                      <ul class="footer-top__list">
                          <li><a href="#" class="text-white">AI Companion</a></li>
                          <li><a href="#" class="text-white">Find a retirement home</a></li>
                      </ul>
                  </div>
                  <div class="footer-top__item col-lg-3 col-sm-6">
                      <h5 class="footer-top__title mb-0 text-white">ABOUT</h5>
                      <div class="line"></div>
                      <ul class="footer-top__list">
                          <li><a href="#" class="text-white">Blog</a></li>
                          <li><a href="#" class="text-white">Services</a></li>
                          <li><a href="#" class="text-white">Company</a></li>
                          <li><a href="#" class="text-white">Career</a></li>
                      </ul>
                  </div>
                  <div class="footer-top__item col-lg-3 col-sm-6">
                      <h5 class="footer-top__title mb-0 text-white">CONTACT</h5>
                      <div class="line"></div>
                      <ul class="footer-top__list">
                          <li class="text-white">Iasi, Romania</li>
                          <li class="text-white">+40756624999</li>
                          <li class="text-white">0607andreea.ro@gmail.com</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <div class="container">
              <div class="row g-4 justify-content-between">
                  <div class="col-auto">
                      <p class="footer-bottom__text mb-0 text-white">© Copyright 🍀SENIORITY. All Rights Reserved</p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</html>